.navbar-brand img {
    width: 33px;
}

.common-btn {
    border-radius: 2px;
    margin: 4px 3px;
    &:last-child {
        margin-right: 0;
    }
    &:first-child {
        margin-left: 0;
    }
}


.hidden {
    display: none !important
}

.editvalue .form-control {
    height: calc(1.2rem + 4px);
}

.editvalue .inline-input {
    width: 40%;
    display: inline;
}

.editvalue .btn.dropdown-toggle[data-toggle="dropdown"] {
    padding: 2px 10px;
}

.star-ratings-sprite {
    background: url("../../assets/img/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 15px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 76px;
    background-size: 15px;
    display: inline-block;
    position: relative;
    top: 2px;

    .star-ratings-sprite-rating {
        background: url("../../assets/img/star-rating-sprite.png") repeat-x;
        background-position: 0 100%;
        float: left;
        height: 14px;
        display: block;
        background-size: 15px;
    }
}

.btn-input {
    padding-right: 73px;
}

.map-select-container {
    height: 100%;

    .zero-position {
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
    }

    .mm-grglist-container {
        padding-right: 0px !important;
        padding-left: 15px !important;
        background-color: #1E1E24;

        .dropdown-menu .map-search-btn .tim-icons {
            opacity: 1;
        }
    }

    .mm-filter-container {
        background-color: #1e1e2f;
        position: fixed;
        z-index: 1000;
        padding-top: 15px;
        padding-bottom: 15px;
        top: 2px;
        box-shadow: -22px 1px 36px -10px #000;
    }
    
    .mm-grglist {
        overflow-y: auto;
        padding-right: 15px !important;
        margin-top: 210px;
        margin-bottom: 15px;

        .list-group {
            list-style-type: none;

            .list-group-item {
                margin-bottom: -1px;
                background-color: #1E1E2F;
                border: 1px solid #32344f;
                padding: 10px 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    position: relative;
                    display: block;
                    padding-right: 45px;

                    h5 {
                        color: #fff;
                        font-size: 0.83rem;
                        font-weight: 600;
                        margin-bottom: 5px;
                        display: inline;
                        margin-right: 4px;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 0.8rem;
                        margin-bottom: 0;
                    }
                }

                .btn-tiny {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 31px;

                    i {
                        font-size: 18px !important;
                        padding: 3px;
                        top: -2px !important;
                        right: 0px !important;
                    } 
                }

                &:hover, &:focus {
                    text-decoration: none;
                    background-color: #32344f;
                }
            }
        }
    }
    

    .mm-map-container {
        background: #eee;
        height: 100%;
        position: fixed;
        right: 0px;
        z-index: 0;
        padding: 0;
    }
}

.btn-tiny {
    padding: 4px 4px 1px !important;
    top: 1px;

    span {
        top: -3px;
    }

    i {
        font-size: 3px !important;
    }
}

@supports (-ms-ime-align:auto) {
    .btn-tiny span {
        top: -4px;
    }
}

.edit-row {
    white-space: nowrap;

    .btn-group.bootstrap-select {
        min-width: initial !important;
        width: auto !important;
    }

    .btn.dropdown-toggle[data-toggle="dropdown"] {
        width: 60px;
    }
}

.bootstrap-datetimepicker-widget {

    .picker-switch, table th.dow, table th.next span,table th.prev span {
        color: #1d8cf8 !important;
    }

    table td.active > div {
        background: #4ba5fd !important;
    }

    table td, table thead th {
        border: 0 !important;
    }
}

.editable-grid {

    .dropdown-menu.open.show {
        margin-top: 6px;
    }

    .dropdown-toggle {
        margin-bottom: 0 !important;
    }
}

.inline-edit-field-icon {
    padding-left: 20px;
    position: relative;
    i {
        position: absolute;
        left: 0;
        top: 4px;
    }
}
.edit-span{
    white-space: nowrap!important;
}
.edit-text{
    display: inline-block!important;
}


.col-pad {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.inline-edit-field-select {
    padding-left: 82px;
    position: relative;
    .cc-code {
        position: absolute;
        left: 0;
        top: 0;
        width: 75px;
        .bootstrap-select .dropdown-menu.inner li a {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.add-more-itm-btn {
    padding: 7px 9px 4px 12px !important;
    text-align: center;
    margin: 0;
}

.secondary-title {
    margin-bottom: 4px;
}

.plain-text-no-padding {
    .form-plain-text {
        padding-bottom: 0;
    }
}

textarea {
    border: 1px solid #2b3553;
    background: #32344f;
    width: 100%;
    resize: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    font-size: 0.75rem;
    line-height: 1.42857;
    min-height: 4.5rem;
}

.dark-content input.form-control:disabled {
    background: #292b43;
    color: #797979;
    border: 1px solid #292b43;
}

.form-check-radio .form-check-label,
.form-check .form-check-label {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}

.white-content textarea {
    background: #eee;
    border-color: #eee;
    color: #222a42;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::before {
    border-color: #1d8cf8;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
    width: 6px;
    height: 6px;
    background-color: #1d8cf8;
    border-color: #1d8cf8;
    top: 9px;
    left: 6px;
    opacity: 1;
}

.table>tbody>tr.red-row>td,
.white-content .table>tbody>tr.red-row>td {
    color: $danger !important;
    a {
        color: $danger;
    }
}

.inactive-card {
    opacity: 0.4;
}

.icon-btn {
    i {
        font-size: 10px;
        top: -1px !important;
        right: 2px;
    }
    .icon-simple-add,
    .icon-check-2,
    .icon-simple-remove {
        font-weight: bold;
    }
}

.form-group .form-control,
.input-group .form-control {
    padding: 10px 10px 10px 10px;
}

.form-control:focus,
.bootstrap-select button.dropdown-toggle.btn-info:focus,
.bootstrap-select button.dropdown-toggle.btn-info:active,
.bootstrap-select.show>.dropdown-toggle.btn-info {
    border-color: $info !important;
}

.form-bottom-padding {
    padding-bottom: 8px;
}

.form-bottom-padding-select {
    padding-bottom: 1px;
}

.form-control {
    height: calc(2.25rem + 4px);
}

.form-check-padding {
    margin-top: 3px;
}

.breadcrumb {
    font-size: 16px;
}

.navbar-checkbox {
    top: 17px;
}

.day.weekend-day {
    // margin-top: -30px;
}

.holiday {
    margin-left: 27px;
    font-weight: 600;
    color: #887676;
}

.day.weekend-day {
    color: #d6504d;
}

td.week-num {
    vertical-align: top!important;
}

table.table.table-bordered.common-tbl {
    border: 0.0625rem solid rgba(34, 42, 66, 0.2)!important;
}
input.form-control.map-search {
    border-radius: 0px!important;
}
.white-content {
    .breadcrumb {
        margin-bottom: 0;
        padding: 0;
        font-size: 16px;
        //line-height: 18px;
    }
    .breadcrumb-item {
        +.breadcrumb-item::before {
            color: #1d253b;
        }
        a {
            color: $info;
        }
        &.active {
            color: #888
        }
    }
    hr {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb-item a {
    color: #1d8cf8;
}

li.breadcrumb-item.breadcrumb-normal.active {
    font-size: 12px;
}

hr {
    border-top: 1px solid #2b3553;
}

.card-body {
    hr {
        margin-top: 0;
        margin-bottom: 7px;
    }
}

.card label {
    font-weight: 600;
}

.form-plain-text {
    padding: 0 0 13px;
    font-size: 0.78rem;
    line-height: 21px;
    i.fab {
        font-size: 15px;
        vertical-align: middle;
        margin-right: 2px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        line-height: 21px;
        margin-bottom: 3px;
        li {
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.78rem;
        }
    }
}

.nav-pills.nav-pills:not(.flex-column) .nav-item .nav-link,
.nav-pills.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
    //margin-bottom: 0;
}

.more-content,
.more-content2,
.more-content3,
.more-content4 {
    display: none;
}

.cg-visible {
    display: inline;
}

.table>thead>tr>th {
    text-transform: inherit;
}

.custom-table {
    .icon-check-2 {
        color: $success;
        font-weight: bold;
    }
    .icon-simple-remove {
        color: $danger;
        font-weight: bold;
    }
    .table>tbody>tr>td {
        vertical-align: top;
    }
}

.sidebar-normal {
    overflow: hidden;
    text-overflow: ellipsis;
}

.third-title {
    margin-top: 3px;
    margin-bottom: 12px;
}

i.green-check {
    color: #08C36F;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.card .card-title {
    //margin-bottom: 0 !important;
    //font-size: 1.0625rem;
    font-size: 1.18rem;
}

.card-header-cont {
    padding: 0 10px !important;
    z-index: 9999;
}

.card .card-body {
    padding: 10px 15px 15px !important;
}

.fileinput .thumbnail.img-circle {
    max-width: 80px !important;
    box-shadow: none !important;
}

.common-btn {
    padding: 9px 29px 7px;
    font-size: 0.65rem;
}

.btn.dropdown-toggle[data-toggle="dropdown"] {
    background: #eee !important;
    border-radius: 2px;
    border: 0;
    &:hover,
    &:active,
    &:hover:active {
        background: #eee !important;
        border-radius: 2px;
        border: 0;
    }
}

.btn.btn-icon {
    height: 1.875rem;
    width: 1.875rem;
    min-width: 1.97rem;
    border-radius: 2px;
    i {
        font-size: 10px;
    }
}

.read-heading {
    margin-bottom: 6px;
    font-size: 14px;
    a {
        font-weight: bold !important;
    }
    i {
        font-size: 12px;
        font-weight: bold;
        position: relative;
        left: 2px;
        vertical-align: middle;
        top: -1px;
    }
    .list-span {
        display: block;
    }
}

.language-btn {
    padding: 2px 14px !important;
    margin: 0 1px;
    font-size: 12px;
    border-radius: 60px;
    border-color: #eee !important;
    background: #eee !important;
    &.current {
        padding: 3px 14px !important;
        background: #1d8cf8 !important;
        background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
    }
}

.sidebar {
    z-index: 99999!important;
}

.white-content .table>tbody>tr>td {
    padding: 8px 7px !important;
    font-size: 13px;
}

.table>tbody>tr>td {
    padding: 8px 7px !important;
    font-size: 13px;
}

.card-body .form-group {
    margin-bottom: 4px;
}

.nav-pills .nav-item .nav-link {
    padding: 9px 23px;
    font-size: 12px;
    min-width: 90px;
}

.search-contain {
    position: relative;
    .tim-icons {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
        height: 20px;
        left: 10px;
    }
    .form-control {
        padding-left: 40px;
    }
}

.sidebar .nav li>a {
    p {
        font-weight: 400;
        font-size: 0.62475rem;
        text-transform: uppercase;
    }
}

.sidebar .nav li>a+div .nav li>a {
    padding: 5px 8px;
}

.content .card {
    margin-bottom: 15px;
    padding: 10px;
}

.day {
    color: white;
    padding: 2px;
    // width: 239px;
    //height: 90px;
}

td.week-num {
    width: 3%;
}

td.cal-day {
    width: 12%;
}

span.stangt {
    color: #cc464d;
    font-weight: 600;
    font-size: 15px;
    margin-left: 4%;
    //display: initial;
}

input.form-control {
    border: 0;
    background: #eee;
    border-radius: 0;
    &:focus {
        background: #eee;
        outline: 1px solid #1d8cf8;
    }
}

.common-tbl {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.tab-menu {
    .nav-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        &:hover,
        &:focus {
            color: #1d8cf8
        }
    }
    .nav-link.active {
        color: #1d8cf8;
        border-bottom-color: #1d8cf8;
        border-bottom: 4px solid;
        font-weight: bold;
    }
}

.title-hand {
    display: inline;
    margin-right: 20px;
}

.inline-checkbox {
    display: inline;
}

.justify-content-end {
    margin-right: 0%
}

i.fa.fa-exclamation-triangle.modal-worning.clossed {
    color: #cc464d;
    padding-left: 2px;
    font-size: 15px;
    margin-left: 4px;
    vertical-align: middle;
    margin-top: 3px;
}
.map-tag-icon{
    z-index: 99;
    margin-bottom: 11px!important
}
input.form-control.dropdown-map {
    color: #222a42;
    background: #eee!important;
    border: 0!important;
    border-radius: 0;
    border-color: #eee!important;
}
span.chosen-item {
    background: #1d8cf8;
    border-radius: 10px;
    padding: 3px 10px;
    color: white;
    font-size: 11px;
    
}
a.tim-icons.chosen-item-close.icon-simple-remove {
    margin-right: 0;
    color: #f7f7f7;
    opacity: 1;
    font-size: 10px;
    padding-left: 10px;
    top: 2px;
}

button.btn.icon-btn.common-btn.map-search-btn {
    margin: 0 3px;
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -3px;
    height: 40px;
}

.map-search-input {
    //padding-right: 64px;
}

button.btn.icon-btn.common-btn.filter-map-btn {

    
    margin: 0 ;
    width: 44px;
    height: 40px;
    padding: 14px 0;
    text-align: center;
   // width: 20px;
}
.map-closs-button{
    position: absolute;
    right: 0;


}
.map-form-row{
    position: relative;
    padding-right: 55px;

}
.filter-img{
  
    position: absolute;
    
    top: 12px;
    left: 16px;
}
input.form-control.map-search {
     width: 102px; 
}
.form-group.map-check-box {
    top: 7px;
}

.input-group-append{
    border: none!important;
    //width: 20px;
}

.containe-text-left {
    margin-left: 2px;
}

a.attachment-png {
    color: #1d8cf8
}

.count-list {
    padding-left: 13px;
    .form-control {
        display: inline-block;
    }
}

.form-plain-text ol li {
    color: rgba(255, 255, 255, 0.8)
}

label {
    margin-bottom: 0%;
}

.form-group.form-group-padding {
    padding-bottom: 6px;
}

.panel-text {
    padding-bottom: 0%;
}

h6 {
    padding-bottom: 0%
}

.nav-search {
    margin-left: 70%;
}

.booking-hour {
    background: #08c36f;
    border-radius: 2px;
    padding: 4px;
    width: 100%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    //margin-bottom: 20px;
}

.booking-hour:hover {
    background: #069253;
}

.booking-hour-blue {
    background: #1d8cf8;
    border-radius: 2px;
    padding: 4px;
    width: 100%;
    color: white;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.booking-hour-blue:hover {
    background: #035fb9;
}

.booking-hour a {
    color: white;
    font-size: 12px;
    text-decoration: underline;
}

.booking-hour a:hover {
    color: white;
}

.booking-hour-blue a {
    color: white;
    font-size: 12px;
}

.booking-hour-blue a:hover {
    color: white;
    //font-size: 12px;
}

.cal-input {
    padding-top: 3px;
    margin-top: 11px;
    width: 100%;
    height: 25px;
    padding-bottom: 3px;
    font-size: 11px;
}

td.cal-day.weekend-day {
    background: #FEE6E6;
    vertical-align: top!important;
}

.table-bordered {
    border: 0.0625rem solid rgba(255, 255, 255, 0.1)!important;
}

.day {
    color: black;
    padding: 2px;
    // width: 239px;
}

.week-number {
    color: black;
}

.table-input {
    width: 250px;
}

.reset-btn {
    padding-top: 6px;
    padding-bottom: 4PX;
    padding-right: 15px;
    padding-left: 15px;
}

.aldre-search {
    padding-left: 153px;
}

.reset-link {
    font-size: 2px;
}

.breadcrumb-normal {
    font-weight: normal
}

.wrapper-login {
    //background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%); 
}

.card .card-header .card-font-weight.card-title {
    font-weight: 600;
    //text-align: center;
    font-size: 24px;
}

.panel {
    border-bottom: solid gainsboro;
    border-bottom-width: thin
}

.highlighted-content,
.highlighted-content-right {
    background: #3a3c56;
    padding: 6px 11px;
    float: left;
}

.highlighted-content-right {
    float: right;
}

.white-content .highlighted-content,
.white-content .highlighted-content-right {
    background: #ededee;
}

.panel-end {
    border-bottom: none
}

.table-responsive .table .tbody-padding>tr>td {
    padding: 2px 0 2px !important;
}

.table-responsive .table .tbody-colspan-padding>tr>td {
    padding: 10px 0 20px !important;
}

.table-responsive .table .header-padding>tr>th {
    padding: 20px 0 5px !important;
}

.dark-content .table-responsive .table .header-padding>tr>th,
.dark-content .table>thead>tr>th {
    color: #fff;
}

.form-check input[type="checkbox"]:checked+.form-check-sign::before,
.form-check input[type="checkbox"]:checked+.form-check-sign::before {
    background-color: #1d8cf8;
}

.white-content .table>tbody>tr>td.text-right.large-text {
    font-size: 15px;
}

.table-responsive>.table>.tbody-padding>tr>td.large-text {
    font-size: 15px;
    font-weight: bold;
    //padding: 20px!important;
}

.table>tbody>tr>td.warn-text {
    color: #d48f4d !important;
    font-weight: bold;
    font-size: 0.78rem;
}

.warn-text {
    color: #d48f4d !important;
    font-weight: bold;
    font-size: 0.78rem;
}

.dark-content .table-responsive>.table>.tbody-padding>tr>td.large-text {
    color: #fff !important;
}

.table>tbody>tr>td.colspan-padding {
    line-height: 22px;
    padding: 14px 7px !important;
}

.secontry-header {
    font-size: 17px;
}

.squre {
    width: 50px;
    height: 50px;
    float: left;
}

.menu-icon-position {
    margin-top: 6px !important;
    margin-left: 12px !important;
}

span.notification {
    display: inline-block;
    position: relative;
    background: #5b5c69;
    padding: 0px 4px;
    border-radius: 2px;
    height: 16px;
    font-size: 10px;
    right: 0;
    top: 0px;
    min-width: 23px;
    text-align: center;
    font-weight: 500;
    width: auto;
    margin-left: 2px;
    padding-top: 1px;
    border: none;
    /* border: 1px solid #1d8cf8; */
    color: #f9f9f9;
    &.red-bubble {
        background: #dd4b39;
    }
}

.link-margin {
    margin-top: 5px;
}

.show-more-btn a {
    font-weight: 600;
    margin-left: 4px;
}

.logo {
    //width: 70px;
    //height: 70px;
    &.logo-brnd {
        padding-bottom: 0;
        &:after {
            background: transparent;
        }
    }
}

a {
    color: #2579f6;
}

a:hover {
    color: #1e53d0;
}

.white-content .table>tbody>tr>td.vertical-alignment {
    vertical-align: top;
}

.car-logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 10px;
}

ul.panel-list {
    list-style-type: none;
    padding-left: 0;
}

.fc-event {
    line-height: 2.3!important;
}

.swal2-container .swal2-modal .swal2-title {
    font-size: 20px!important;
    font-weight: 400!important;
    margin: 0 0em .4em!important;
    padding: 0%;
}

.swal2-container {
    z-index: 99999!important;
}

button.swal2-confirm.btn.btn-success {
    border-radius: 2px;
    font-weight: 100!important;
    font-size: 12px;
}

button.swal2-cancel.btn.btn-danger {
    border-radius: 2px;
    font-weight: 100!important;
    font-size: 12px;
}

#dropzone {
    position: relative;
    border: 2px solid #D7D2D6;
    border-radius: 150px;
    color: white;
    font: bold 14px/200px arial;
    height: 150px;
    //margin: 30px auto;
    text-align: center;
    width: 150px;
}

.sub-tab-items {
    background: #f5f5f5;
    padding: 12px 15px 3px;
    border: 0px solid #d5dde5;
    padding: 0;
    .nav-item {
        margin: 0;
    }
    .nav-link {
        color: #fff !important;
        padding: 13px 19px;
        &.active {
            border: 0;
            background: #1d8cf8;
        }
    }
}

.white-content {
    .sub-tab-items .nav-link {
        color: #525f7f !important;
        &.active {
            color: #fff !important;
        }
    }
}


/* layout.css Style */

.upload-drop-zone {
    border-width: 2px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 112px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.custom-input-edit {
    margin-bottom: 9px;
}

#dropzone.hover {
    border: 10px solid gray;
    color: gray;
}

#dropzone.dropped {
    background: white;
    border: 2px solid white;
    border-radius: 150px;
}

#dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#dropzone img {
    border-radius: 2px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table>tbody>tr>td {
    line-height: 21px;
    padding: 7px !important;
}

.icon-text {
    display: inline;
    margin-right: 27px;
}

.edit-pencil {
    font-size: 15px;
    color: #a09e9e;
}

.edit-btn {
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0!important;
    cursor: pointer;
    position: relative;
    top: -2px;
}

.edit-pencil:hover {
    color: #060606;
}

.yellow-txt {
    display: inline;
}

.custom-table .table>tbody>tr>td.red-table-data {
    color: $danger!important;
}

.custom-table .table>tbody>tr>td.text-right.text-disable {
    color: #696969!important;
}
figure.highlight {
    padding: 15px;
    background: #32354a;
    padding: 15px;
}

span.baddge-yellow {
    padding: 1px 5px;
    font-weight: 600;
    background-color: #fbb95b;
    text-transform: lowercase;
    border-radius: 2px;
}

span.badge.badge-secondary.baddge-yellow.baddge-yellow-header.badge-warning.yellow-txt {
    vertical-align: middle;
}

.visa-padding {
    top: 7px;
}

.dark-content {
    input.form-control {
        border: 1px solid #2b3553;
        background: #32344f;
        &:focus {
            outline: 0;
            border: 1px solid #1d8cf8 !important;
        }
    }
    .day {
        color: white;
        padding: 2px;
        // width: 239px;
    }
    .week-number {
        color: white;
    }
    .booking-hour a {
        color: white;
        text-decoration: underline;
        font-size: 12px;
        font-weight: 500;
    }
    .custom-table.cal-tabel.pb-0 {
        background: #2b2d42;
    }
    .booking-hour-blue a {
        color: white;
        //text-decoration: underline;
        font-size: 12px;
        font-weight: 500;
    }
    span.stangt {
        color: #bf9faa;
        font-weight: 600;
        font-size: 15px;
        margin-left: 4%;
        //display: initial;
    }
    .day.weekend-day {
        color: #bf9faa;
    }
    td.week-num {
        vertical-align: top!important;
        padding-top: 9px !important;
    }
    i.fa.fa-exclamation-triangle.modal-worning.clossed {
        color: #bf9faa;
        padding-left: 2px;
        margin-right: 0;
        font-size: 15px;
        margin-left: 4px;
        ;
    }
    td.cal-day.weekend-day {
        background: rgba(123, 24, 24, 0.4);
        vertical-align: top;
    }
    .holiday {
        margin-left: 27px;
        font-weight: 600;
        color: #838593;
    }
    .content .content-padding{
        padding-left: 30px!important;
    }
    .form-plain-text {
        color: rgba(255, 255, 255, 0.8);
    }
    .tab-menu .nav-link {
        color: rgba(255, 255, 255, 0.6);
    }
    .tab-menu .nav-link.active {
        color: #4ba5fd;
    }
    .panel {
        border-bottom: 1px solid #2b3553;
    }
    a {
        color: #4ba5fd;
    }
    .card label {
        color: #fff;
    }
    .btn.dropdown-toggle[data-toggle="dropdown"],
    .btn.dropdown-toggle[data-toggle="dropdown"]:hover,
    .btn.dropdown-toggle[data-toggle="dropdown"]:active,
    .btn.dropdown-toggle[data-toggle="dropdown"]:hover:active {
        border: 1px solid #2b3553;
        background: #32344f !important;
    }
    .bootstrap-select .dropdown-menu {
        border-radius: 0;
    }

    .btn.filter-map-btn.dropdown-toggle[data-toggle="dropdown"],
    .btn.filter-map-btn.dropdown-toggle[data-toggle="dropdown"]:hover,
    .btn.filter-map-btn.dropdown-toggle[data-toggle="dropdown"]:active,
    .btn.filter-map-btn.dropdown-toggle[data-toggle="dropdown"]:hover:active {
        border: 1px solid #2b3553;
        background: #1d8cf8!important
    }

    .btn.filter-map-btn.dropdown-toggle[data-toggle="dropdown"]:after{
        display: none;
    }
    .dropdown-menu.search-menu.show{
        padding: 20px;
        width: 400px;
    }
    
    
    .upload-drop-zone {
        border-color: #32344f;
    }
    .sub-tab-items {
        background: #1d1d2d;
        padding: 12px 15px 3px;
        border: 0;
        border-radius: 2px;
        margin: 0;
        padding: 0;
    }
    .content.content-padding {
        padding-left: 30px!important;
    }
    .language-btn:hover {
        background: #fff !important;
    }
    .edit-pencil:hover {
        color: #266aac;
    }
    .language-btn:hover,
    .language-btn:focus,
    .language-btn:active,
    .language-btn:not(:disabled):not(.disabled):active {
        background: #fff !important;
    }
    .language-btn.current:hover,
    .language-btn.current:focus,
    .language-btn.current:active,
    .language-btn.current:not(:disabled):not(.disabled):active {
        background: #1d8cf8 !important;
    }
    span.baddge-yellow {
        padding: 1px 5px;
        font-weight: 600;
        background-color: #bf7408;
        text-transform: lowercase;
        border-radius: 2px;
    }
    .card:not(.card-white) .card {
        box-shadow: none;
    }
    .icon-text {
        display: inline;
        margin-right: 27px;
    }
    .edit-pencil {
        font-size: 15px;
        color: #4ba5fd;
    }
    .edit-btn {
        background: transparent;
        border: 0;
        padding: 0;
        outline: 0;
        cursor: pointer;
    }
    .language-btn {
        padding: 2px 14px !important;
        margin: 0 1px;
        font-size: 12px;
        border-radius: 60px;
        border-color: #fff !important;
        background: #fff !important;
        &.current {
            padding: 3px 14px !important;
            background: #1d8cf8 !important;
            background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
        }
    }
    .car-logo {
        // object-fit: contain;
        width: 75px;
        height: 75px;
        margin-right: 10px;
        img {
            object-fit: cover;
            width: 75px;
            height: 75px;
        }
    }
    .second-title {
        color: rgba(255, 255, 255, 0.6);
    }
    .swal2-container .swal2-modal {
        background-color: #27293d!important;
    }
    .swal2-container .swal2-modal .swal2-title {
        color: rgba(255, 255, 255, 0.8)
    }
    .swal2-modal .swal2-content input.form-control {
        color: white;
    }
    .secontry-header {
        color: rgba(255, 255, 255, 0.8);
    }
    .modal-content {
        background: #27293d;
    }
    p.modal-text {
        color: white;
        font-weight: 100;
    }
    h3#myModalLabel {
        color: white
    }
}

.btn.dropdown-toggle[data-toggle="dropdown"] {
    border-radius: 0;
}

i.fas.fa-check-circle {
    color: #159247;
    font-size: 15px;
}

.second-breadcrumb {
    padding: 11px 0;
    margin: 0;
}

.fixed-plugin {
    z-index: 9999;
    top: 90px;
}

.small-p {
    font-size: 16px;
    display: block;
}

.modal-dialog {
    width: 1062px;
    height: 400px;
}

.modal-btn {
    display: inline;
}

.modal {
    z-index: 99999!important;
}

i.fa.fa-exclamation-triangle.modal-worning {
    font-size: 20px;
    color: #dd4b39;
    display: inline;
    margin-right: 4px;
    position: absolute;
    margin-left: 18px;
}

.modal-text {
    padding-left: 22px;
    margin-left: 25px;
    // font-weight: 100;
}

div#noticeModal {
    background: rgba(0, 0, 0, 0.4);
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: break-all!important;
    white-space: normal!important;
}

.calendar-view-modal {
    .fc-day-grid-event .fc-content {
        white-space: normal;
        line-height: 12px;
        margin-bottom: 2px;
        font-size: 11px;
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .modal-open .modal {
        background: rgba(16, 16, 15, 0.6);
    }
    .card {
        box-shadow: none;
    }
    tr:first-child>td>.fc-day-grid-event {
        margin-top: -6px;
    }
    .booking-hour-blue {
        line-height: 12px;
    }
    .booking-hour {
        line-height: 12px;
    }
    .cal-input {
        height: 20px;
    }
    span.stangt {
        font-weight: 700;
        font-size: 12px;
    }
    .holiday {
        margin-left: 26px;
        font-size: 12px;
    }
    td.week-num {
        vertical-align: top !important;
        margin-top: 2px;
    }
}

//media queries
@media only screen and (min-width: 1200px) {
    .main-panel>.content {
        padding-top: 20px;
    }
    .sidebar {
        margin-top: 90px;
    }
}

@media only screen and (min-width: 900px) {
    .table-responsive.ov {
        overflow: visible !important;
    }
}

@media only screen and (min-width: 576px) {
    .nav-btns {
        margin-left: 10px
    }
    .btn-alignment {
        text-align: right
    }
    .logo-view {
        text-align: center
    }
    .modal-dialog {
        max-width: 100%!important;
    }
    .padding-filter {
        margin-bottom: 6px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {

    .map-select-container .mm-grglist {
        margin-top: 230px;
    }
}

@media only screen and (max-width: 767px) {

    .mm-mobile-map {
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 0px;
    }

    .map-select-container .mm-grglist {
        padding-right: 30px !important;
    }
    .dark-content .dropdown-menu.search-menu.show {
        //padding: 20px;
        width: 320px;
    }
}

@media only screen and (max-width: 575px) {
    .tab-menu .nav-link {
        margin-bottom: 6px;
    }
    .input-size-mobile {
        width: 100%;
    }
    .table-responsive>.table>.tbody-padding>tr>td.large-text {
        padding: 20px!important;
    }
    .btns-cont {
        margin-bottom: 20px
    }
    .nav-btns {
        margin-top: 15px
    }
    .mobile-view {
        margin-bottom: 0px;
    }
    .form-bottom-padding {
        margin-top: 30px;
    }
    .language-btn {
        margin-bottom: 15px !important;
    }
    .visa-padding {
        top: 0;
        padding-bottom: 7px;
    }
    .dropdown-padding {
        padding-top: 9px;
    }
    .btn-row button:first-child {
        margin-left: 0;
    }
    .padding-filter {
        margin-bottom: 6px;
    }
}